<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mega.board.mappers.BoardMapper">
	<insert id="saveBoard" parameterType="com.mega.board.dto.BoardDto">
		INSERT INTO BOARD (BOARD_ID,TITLE,CONTENT,SEPARATION,WRITER,UPLOAD_AT,DELETE_AT,DEL_YN,HITS,ADMIN_NUM,CATEGORY_ID)
		VALUES(BOARD_NUM.NEXTVAL,#{title},#{content},#{separation},#{writer},SYSDATE,#{delete_at},#{del_yn},#{hits},#{admin_num},#{category_id})
	</insert>		
	
	<!-- 게시글 갯수 -->
	 <select id="countBoard" resultType="int">
    	SELECT COUNT(*) FROM BOARD WHERE DEL_YN = 'N'
    </select>
    
    <!-- 게시글 리스트 조회(페이징 처리 후) -->
      <select id="boardList" resultType="com.mega.board.dto.BoardDto">
    SELECT * FROM (
        SELECT 
            b.BOARD_ID, 
            b.TITLE, 
            b.CONTENT,  
            b.ADMIN_NUM , 
            b.UPLOAD_AT, 
            b.HITS,
            a.ADMIN_NAME AS writer,
            ROW_NUMBER() OVER (ORDER BY b.UPLOAD_AT DESC) AS RNM 
        FROM BOARD b 
        JOIN ADMIN a ON a.ADMIN_NUM = b.ADMIN_NUM 
        WHERE b.DEL_YN = 'N'
        <include refid="search1"></include>
    ) t
    WHERE RNM BETWEEN #{pageDto.start} AND #{pageDto.end}
    </select> 
    
    <select id="countBoardByCategory" parameterType="int" resultType="int">
	    SELECT COUNT(*) 
	    FROM BOARD
	    WHERE CATEGORY_ID = #{category_id}
	      AND DEL_YN = 'N'
	      <include refid="search1"></include>
	</select>

	<select id="boardListByCategory" resultType="com.mega.board.dto.BoardDto">
	    SELECT * 
	    FROM (
	        SELECT 
	            b.BOARD_ID, 
	            b.TITLE, 
	            b.CONTENT,  
	            b.ADMIN_NUM, 
	            b.UPLOAD_AT, 
	            b.HITS,
	            a.ADMIN_NAME AS writer,
	            ROW_NUMBER() OVER (ORDER BY b.UPLOAD_AT DESC) AS RNM
	        FROM BOARD b
	        JOIN ADMIN a ON a.ADMIN_NUM = b.ADMIN_NUM
	        WHERE b.CATEGORY_ID = #{category_id}
	          AND b.DEL_YN = 'N'
	          <include refid="search1"></include>
	    ) g
	    WHERE RNM BETWEEN #{pageDto.start} AND #{pageDto.end}
	</select>

    <!-- 게시글 상세 -->
    <select id="boardDetail" parameterType="int" resultType="com.mega.board.dto.BoardDto">
    SELECT * FROM(
    	SELECT 
	    	b.ADMIN_NUM,
	    	b.TITLE, 
	    	b.CONTENT, 
	    	b.BOARD_ID,
	    	b.SEPARATION,
	    	b.UPLOAD_AT,
	    	b.HITS, 
	    	b.CATEGORY_ID AS category_id,
	    	a.ADMIN_NAME AS writer
    	FROM BOARD b 
        JOIN ADMIN a ON a.ADMIN_NUM = b.ADMIN_NUM    	 
    ) t
    WHERE BOARD_ID = #{BOARD_ID}      
    </select>
    
    <update id="boardHit" parameterType="int">
    	UPDATE BOARD SET
    	HITS = HITS+1
    	WHERE BOARD_ID = #{BOARD_ID}
    </update>
    
    <!-- 카테고리 조회 -->
     <select id="boardCategoryList" resultType="com.mega.board.dto.BoardCategoryDto">
     	SELECT * FROM BOARD_CATEGORY ORDER BY CATEGORY_ID ASC
     </select>
     
     <!-- 카테고리X 이전글 다음글 -->
     <select id="movePageO" parameterType="int" resultType="com.mega.board.dto.MoveDto">
     	SELECT * FROM 
     	(SELECT
     	   BOARD_ID,
     	   LEAD(BOARD_ID,1,9999) OVER(ORDER BY BOARD_ID) AS next,
     	   LAG(BOARD_ID,1,9999) OVER(ORDER BY BOARD_ID) AS last,
     	   TITLE,
     	   LEAD(TITLE,1,9999) OVER(ORDER BY BOARD_ID) AS nextTitle,
     	   LAG(TITLE,1,9999) OVER(ORDER BY BOARD_ID) AS lastTitle,
     	   UPLOAD_AT,
     	   CATEGORY_ID,     	   
     	   ROW_NUMBER() OVER (ORDER BY UPLOAD_AT DESC) AS RNM
     	   FROM BOARD
     	   WHERE CATEGORY_ID = #{category_id} 
     	   ORDER BY BOARD_ID DESC
     	    
     	)k
     	WHERE BOARD_ID = #{board_id}      	
     </select>
     
     <select id="movePageX" parameterType="int" resultType="com.mega.board.dto.MoveDto">
     	SELECT * FROM 
     	(SELECT
     	   BOARD_ID,
     	   LEAD(BOARD_ID,1,9999) OVER(ORDER BY BOARD_ID) AS next,
     	   LAG(BOARD_ID,1,9999) OVER(ORDER BY BOARD_ID) AS last,
     	   TITLE,
     	   LEAD(TITLE,1,9999) OVER(ORDER BY BOARD_ID) AS nextTitle,
     	   LAG(TITLE,1,9999) OVER(ORDER BY BOARD_ID) AS lastTitle,
     	   UPLOAD_AT,
     	   CATEGORY_ID,     	   
     	   ROW_NUMBER() OVER (ORDER BY UPLOAD_AT DESC) AS RNM
     	   FROM BOARD 
     	   ORDER BY BOARD_ID DESC
     	    
     	)k
     	WHERE BOARD_ID = #{board_id}      	
     </select>
     
      <select id="selectSearch" parameterType="com.mega.board.dto.SearchDto" resultType="com.mega.board.dto.BoardDto" >
     	SELECT BOARD_ID,TITLE,CONTENT,WRITER,UPLOAD_AT FROM (
        SELECT 
            b.BOARD_ID, 
            b.TITLE, 
            b.CONTENT,  
            b.ADMIN_NUM , 
            b.UPLOAD_AT, 
            b.HITS,
            a.ADMIN_NAME AS writer,
            ROW_NUMBER() OVER (ORDER BY b.UPLOAD_AT DESC) AS RNM 
        FROM BOARD b 
        JOIN ADMIN a ON a.ADMIN_NUM = b.ADMIN_NUM 
        WHERE b.DEL_YN = 'N' AND 1=1
        <include refid="search"></include>
    ) v
    WHERE RNM BETWEEN #{pageDto.start} AND #{pageDto.end}     	
     </select> 
    
    <select id="selectSearchCount" parameterType="com.mega.board.dto.SearchDto" resultType="int">
    	SELECT COUNT(BOARD_ID) FROM BOARD WHERE 1 = 1
    	<include refid="search"></include>    	
    </select>
     <sql id="search">
		<if test="bbs_search_category != null">
			<if test="bbs_search_category == 'title'.toString()">AND TITLE LIKE '%' || #{bbs_search} || '%'</if>
			<if test="bbs_search_category == 'content'.toString()">AND CONTENT LIKE '%' || #{bbs_search} || '%'</if>
			<if test="bbs_search_category == 'name'.toString()">AND WRITER LIKE '%' || #{bbs_search} || '%'</if>
		</if>
	</sql>
    <sql id="search1">
		<if test="searchType != null">
			<if test="searchType == 'title'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'content'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'name'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
</mapper>