<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mega.board.mappers.BoardMapper">
	<insert id="saveBoard" parameterType="com.mega.board.dto.BoardDto">
		INSERT INTO BOARD (BOARD_ID,TITLE,CONTENT,SEPARATION,WRITER,UPLOAD_AT,DELETE_AT,DEL_YN,HITS,ADMIN_NUM,CATEGORY_ID)
		VALUES(BOARD_NUM.NEXTVAL,#{title},#{content},#{separation},#{writer},SYSDATE,#{delete_at},#{del_yn},#{hits},#{admin_num},#{category_id})
	</insert>		
	
	<!-- 게시글 갯수 -->
	 <select id="countBoard" resultType="int">
    	SELECT COUNT(*) FROM BOARD WHERE DEL_YN = 'N'
    </select>
    
    <!-- 게시글 리스트 조회(페이징 처리 후) -->
      <select id="boardList" resultType="com.mega.board.dto.BoardDto">
    SELECT * FROM (
        SELECT 
            b.BOARD_ID, 
            b.TITLE, 
            b.CONTENT,  
            b.ADMIN_NUM , 
            b.UPLOAD_AT, 
            b.HITS,
            a.ADMIN_NAME AS writer,
            ROW_NUMBER() OVER (ORDER BY b.UPLOAD_AT DESC) AS RNM 
        FROM BOARD b 
        JOIN ADMIN a ON a.ADMIN_NUM = b.ADMIN_NUM 
        WHERE b.DEL_YN = 'N'
    ) t
    WHERE RNM BETWEEN #{start} AND #{end}
    </select> 
    
    <!-- 게시글 상세 -->
    <select id="boardDetail" parameterType="int" resultType="com.mega.board.dto.BoardDto">
    SELECT * FROM(
    	SELECT 
	    	b.ADMIN_NUM,
	    	b.TITLE, 
	    	b.CONTENT, 
	    	b.BOARD_ID,
	    	b.SEPARATION,
	    	b.UPLOAD_AT,
	    	b.HITS, 
	    	b.CATEGORY_ID,
	    	a.ADMIN_NAME AS writer
    	FROM BOARD b 
        JOIN ADMIN a ON a.ADMIN_NUM = b.ADMIN_NUM    	 
    ) t
    WHERE BOARD_ID = #{BOARD_ID}      
    </select>
    
    <update id="boardHit" parameterType="int">
    	UPDATE BOARD SET
    	HITS = HITS+1
    	WHERE BOARD_ID = #{BOARD_ID}
    </update>
</mapper>