<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mega.menu.mapper.MenuMapper">

	<select id="menuRead" resultType="com.mega.menu.dto.MenuInfoDto">
		select * from menu where
		menu_id = #{menu_id}
	</select>

	<select id="getMenuNutrient"
		resultType="map">
		select m.*,n.* from menu m, nutrient n
		where n.menu_id = m.menu_id
		and m.menu_id = #{menu_id}
	</select>

	<select id="getType" resultType="com.mega.menu.dto.TypeDto">
		select t.* from menu_type mt,
		type t
		where mt.type_id = t.type_id
		and mt.menu_id = #{menu_id}
	</select>

	<select id="getAllergen"
		resultType="com.mega.menu.dto.AllergenDto">
		select a.* from menu_allergen ma, allergen a
		where ma.all_id
		= a.all_id
		and ma.menu_id = #{menu_id}
	</select>


	<!-- 카테고리 메뉴 항목을 눌렀을때 카테고리별로 상품 출력 -->
	<select id="menuList" resultType="com.mega.menu.dto.MenuNutrientDto">
		select m.* from menu m
		<choose>
			<when test="category_id != null">
				,category c
				where m.category_id = c.category_id
				and
				m.category_id = #{category_id}
			</when>
			<otherwise>
				where 1=1
			</otherwise>
		</choose>
		and m.menu_del = 'N'
		order by menu_date desc
	</select>

<select id="filterType" resultType="com.mega.menu.dto.MenuDto">
    select m.*
    from menu m
    join menu_type mt on m.menu_id = mt.menu_id
    join type t on t.type_id = mt.type_id
    where m.menu_del = 'N'
    and m.category_id = #{category_id}
    <choose>
        <when test="typeIdStr != null and !typeIdStr.isEmpty()">
            and mt.type_id in (${typeIdStr})
        </when>
        <otherwise>
        </otherwise>
    </choose>
</select>

	<select id="getNutrient" parameterType="int"
		resultType="com.mega.menu.dto.NutrientDto">
		select n.* from menu m, nutrient n
		where n.menu_id =
		m.menu_id
		and m.menu_id = #{menu_id}
	</select>

	<select id="getAllegenList"
		resultType="com.mega.menu.dto.AllergenDto">
		select * from allergen
	</select>

	<select id="getTypeList" resultType="com.mega.menu.dto.TypeDto">
		select * from type
	</select>

	<update id="insertMenu">
		BEGIN
		insert into menu
		values
		(menu_num.nextval,#{mnDto.menu_title},#{mnDto.menu_eng_title},#{mnDto.menu_content},sysdate,sysdate,#{mnDto.menu_del},#{mnDto.menu_ice_hot},#{mnDto.menu_onesize},#{mnDto.menu_file_id},1,#{mnDto.category_id});

		insert into nutrient
		values
		(nutrient_num.nextval,#{mnDto.nut_saturated},#{mnDto.nut_sugar},#{mnDto.nut_sodium},#{mnDto.nut_protein},#{mnDto.nut_caffeine},#{mnDto.nut_calorie},#{mnDto.nut_high_caffeine},#{mnDto.nut_size},#{mnDto.nut_unit},menu_num.currval);

		<if test="typeIdList != null or typeIdList.size != 0">
			<foreach item="type" collection="typeIdList"
				open="insert all" close="select * from dual;">
				into menu_type values
				(menu_num.currval,#{type})
			</foreach>
		</if>

		<if test="allergenIdList != null or allergenIdList.size != 0">
			<foreach item="allergen" collection="allergenIdList"
				open="insert all" close="select * from dual;">
				into menu_allergen values
				(menu_num.currval,#{allergen})
			</foreach>
		</if>
		END;
	</update>

	<update id="modifyMenu">
		BEGIN
		update menu
		set
		menu_title=#{menu_title},menu_eng_title=#{menu_eng_title},menu_content=#{menu_content},menu_update=sysdate,menu_ice_hot=#{menu_ice_hot},menu_onesize=#{menu_onesize},menu_file_id=#{menu_file_id},category_id=#{category_id},menu_del=#{menu_del}
		where menu_id=#{menu_id};

		update nutrient
		set
		nut_saturated=#{nut_saturated},nut_sugar=#{nut_sugar},nut_sodium=#{nut_sodium},nut_protein=#{nut_protein},nut_caffeine=#{nut_caffeine},nut_calorie=#{nut_calorie},nut_high_caffeine=#{nut_high_caffeine},nut_size=#{nut_size},nut_unit=#{nut_unit}
		where nut_id=#{nut_id};
		END;
	</update>

	<update id="modifyType">
		BEGIN
		delete from menu_type where menu_id=#{menu_id};
		<if test="typeIdList != null or typeIdList.size != 0">
			<foreach item="type" collection="typeIdList" open="insert all" close="select * from dual;">
				into menu_type values
				(#{menu_id},#{type})
			</foreach>
		</if>
		END;
	</update>
	
	<update id="modifyallergen">
		BEGIN
		delete from menu_allergen where menu_id=#{menu_id};
		<if test="allergenIdList != null or allergenIdList.size != 0">
			<foreach item="allergen" collection="allergenIdList"
				open="insert all" close="select * from dual;">
				into menu_allergen values
				(#{menu_id},#{allergen})
			</foreach>
		</if>
		END;
	</update>
	
	<select id="getMenuAllList" resultType="com.mega.menu.dto.MenuDto">
		select * from menu where
		<choose>
			<when test="category=='drink'">
				category_id=1
			</when>
			<when test="category=='food'">
				category_id=2
			</when>
			<when test="category=='product'">
				category_id=3
			</when>
			<otherwise>
				1=1
			</otherwise>
		</choose>
		 order by menu_date desc
	</select>
	
	<delete id="deleteMenu">
		delete from menu where menu_id=#{menu_id}
	</delete>

</mapper>