@charset "UTF-8";

/* 전체 레이아웃 */

.content {
	margin-left: 260px;
	padding: 20px;
}

#content-title {
	padding-bottom: 10px;
	border-bottom: 3px solid #FAD000;
}

table.list {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	text-align: left;
}

table.list th {
	padding: 10px;
	border: 1px solid #ddd;
}

table.list td {
	padding: 10px;
	border: 1px solid #ddd;
}

table.list th {
	background-color: #f4f4f4;
	font-weight: bold;
}

.addButton {
	background-color: black;
	border: 0;
	color: white;
	border-radius: 5px;
	width: 120px;
	height: 35px;
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	float: right;
}

table.list tbody>tr:hover {
	font-weight: bold;
	cursor: pointer;
}

.addButton:hover {
	background-color: #FAD000;
	color: black;
}